<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
    <appSettings>
        <add key="cz" value="unclebenscz.t.lion.cz" />
        <add key="sk" value="unclebenssk.t.lion.cz" /> 
    </appSettings>

  <system.web>
	<pages enableSessionState="false" />
    <compilation targetFramework="4.5">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
	<customErrors mode="Off"> 
      <error statusCode="404" redirect="~/not-found.aspx" />
    </customErrors>
  </system.web>   
  <system.webServer> 
	<rewrite>
            <rules>
                <rule name="http to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions> 
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Temporary" />
                </rule>
            </rules>
        </rewrite>
	  
		  <directoryBrowse enabled="true" />
      <modules runAllManagedModulesForAllRequests="true">
            <remove name="UrlRoutingModule-4.0" />
            <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />  
      </modules>
        <directoryBrowse enabled="false" />
  </system.webServer>
  
<connectionStrings>
  <add name="UncleBensEntities" connectionString="metadata=res://*/App_Code.UncleBens.DAL.CatalogModel.csdl|res://*/App_Code.UncleBens.DAL.CatalogModel.ssdl|res://*/App_Code.UncleBens.DAL.CatalogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dpuk-vw-sqldb04.mars-inc.com;initial catalog=UncleBens_cz;persist security info=True;user id=usr_unclebens_cz;password=Ch!quD6thE8P;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration> 
